.co{
	color: skyblue;
	font-size: 34px;
	padding: 0px 30px 0px 30px;
	font-weight:800;

}
.cl{
	background-color: red;
}
.ex{
	font-weight:500;
	font-size: 18px; 
}
.ic{
	text-align: center;
	padding: 25px 5px;
	font-size: 20px;

}

.do{
	text-align: center;
}
.dt{
	font-size: 12px;

}
.ta{
	display: flex;
}
.in{
	padding: 10px;
	margin:10px 10px;
	width: 98%;
	background-color: lightgrey;
	border:none;
	border-radius: 20px;
}
.col-1{
	border-right: 3px solid black;
}
.footer{
	padding: 2% 3%;
	background-color: lightgrey;
	text-align: center;
}


.re{
	display: none;

}
.ca{
	display: none;
}
@media screen and (max-width: 600px){
	.ca{
	display: flex;
	}
	.col-1{
		display: none;
	}
	.re{
		display: block;
	}
	.footer{
		display: none;
	}

}
